{% extends 'base.html' %}

{% block content %}
	<p><a href="{% url 'ergebnis_toppunkte' %}"> Ergebnis ALL Top Punkte</a></p>
	<p><a href="{% url 'ergebnis_topgroupbypunkte' %}"> Ergebnis ALL Top Group by Punkte</a></p>
	<p><a href="{% url 'ergebnis_topmcgroupbypunkte' %}"> Ergebnis ALL Top MC Group by Punkte</a></p>
	<p><a href="{% url 'ergebnis_toprfgroupbypunkte' %}"> Ergebnis ALL Top RF Group by Punkte</a></p>
	<p><a href="{% url 'ergebnis_mctoppunkte' %}"> Ergebnis MC Top Punkte</a></p>
	<p><a href="{% url 'ergebnis_rftoppunkte' %}"> Ergebnis RF Top Punkte</a></p>
<h2>Alle Egebnisse</h2>
<ul>
    {% for ergebnis in object_list %}
	<li><a href="{% url 'ergebnis_detail' ergebnis.pk %}">{{ ergebnis.testmodus }} - {{ ergebnis.benutzername }} - {{ ergebnis.punkte }}</a></li>
    {% endfor %}
</ul>
{% endblock content %}