{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Alle Egebnisse</h2>

<table class ="table table-success table-striped">
	<thead>
		<th scope = "col">Testmodus</th>
		<th scope = "col">Benutzername</th>
		<th scope = "col">Punkte</th>
	</thead>

	<tbody>
	{% for ergebnis in object_list %}
		<tr>
			<td> <a href="{% url 'ergebnis_detail' ergebnis.pk %}">{{ ergebnis.testmodus }}</a> </td>
			<td> <a href="{% url 'ergebnis_detail' ergebnis.pk %}">{{ ergebnis.benutzername }}</a> </td>
			<td> <a href="{% url 'ergebnis_detail' ergebnis.pk %}">{{ ergebnis.punkte }}</a> </td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock content %}