{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">Alle Egebnisse</h2>

<table class ="table table-bordered border-5">
	<thead class="table-danger">
		<th scope = "col">Testmodus</th>
		<th scope = "col">Benutzername</th>
		<th scope = "col">Punkte</th>
	</thead>

	<tbody>
	{% for ergebnis in object_list %}
		<tr>
			<td> {{ ergebnis.testmodus }}</td>
			<td> {{ ergebnis.benutzername }} </td>
			<td> {{ ergebnis.punkte }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock content %}